body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
nav{
  float: right;
  margin: 0 100px 0 220px;
  position: relative;
  top: -35px;
}
ul{
  list-style-type: none;
}
li {
  display: inline-block;
  margin-left: 40px;
  margin-right: 0;
  font-size: small;
  font-weight:450;
}
li:hover{
  font-weight:200;
}
.nezumi{
  margin: 20px 0 0 100px;
  height: 50px;
  width: 55px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.header{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100px;
  background-color: white;
}
.name{
  display: inline-block;
  margin: 0 0 0 15px;
  text-align: right;
  font-size: xx-large;
}
.site-name{
  margin: 0 0 0 15px;
  font-size: large;
}
.div-nezumi{
  display: inline-block;
}
.div-name{
  display: inline-block;
}
.icons{
  float:right;
  margin: 18px 100px 0 0;
}
.footer{
  background-color: black;
  width: 100%;
  position:fixed;
  bottom: 0;
  height: 60px;
  left:0;
  z-index: 999;
}
.twitter{
  padding-left: 5px;
  padding-right: 5px;
  height: 16px;
  width: 16px;
}
.weibo, .ins, .bilibili, .pixiv{
  padding-left: 5px;
  padding-right: 5px;
  height: 20px;
  width: 20px;
}
.copyright{
  font-size: small;
  margin-top: 20px;
  margin-left: 100px;
  display: inline-block;
  color: white;
}
.homebody{
  width: 960px;
  padding-top: 100px;
  padding-bottom: 60px;
  margin:auto;
}
.index-gallery{
  height:560px;
  width:840px;
  object-fit:contain;
  margin:auto;
  border-style:solid;
  border-width: 0.1px;
  border-color:darkgrey;
}
.pic-gallery{
  width:840px;
  margin: auto;
}
.news{
  display: inline-block;
  width:960px;
  padding-top: 20px;
}
.h1-news{
  width:auto;
  margin: auto;
}
.gallery{
  display: inline-block;
  width:960px;
}
.media{
  display: inline-block;
  width:960px;
}
.colorRadioButtons{
  width: 130px;
  margin:auto;
  padding-top: 10px;
}
.h2{
  width:80px;
  margin: auto;
  font-family: "optima";
  color:darkgray;
}
.basiclist{
  padding-top: 50px;
  width:auto;
}
.video-responsive{
  width: 640px;
  margin:auto;
  padding: 10px 0;
}

@media screen and (max-width: 625px) {
  .icons, ul{
    display: none;
  }
}